# Specify filepatterns you want git to ignore.
*.old
*.bak
*.pro.*
*.qm
*.autosave
*.kicad_prl
*.kicad_pro
*.o
moc_*
.qmake.stash
Makefile
RPMS
shadow
build/
ru.yurasov.gpsinfo-backups/
.opencode/
.swarm/
